@use "../styles/colors.module.scss";

.main{
    background-image: linear-gradient(to bottom, #151515, rgb(0, 0, 0));
}

.formTitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.form{
    width: 600px;
    padding: 50px;
    border: 1px solid colors.$darkGray;
    margin: 0 auto;
}